{% extends 'base.html.twig' %}

{% block title %}Profile | {{ user.username }}{% endblock %}

{% block content %}
<div class="row">
    {{ render(controller('App\\Controller\\ProfileController::info')) }}
    <div class="col-lg-4 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Modifier mon profile</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    {{ form_start(form) }}
                        <div class="form-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="user_avatar">
                                            <i class="feather icon-image"></i> Avatar
                                        </label>
                                        <div class="position-relative has-icon-left">
                                            {{ form_widget(form.avatar) }}
                                            {{ form_errors(form.avatar) }}
                                            {# <input type="file" name="avatar" id="user_avatar" accept="image/*"> #}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-label-group position-relative has-icon-left">
                                        {{ form_widget(form.plainPassword) }}
                                        {{ form_errors(form.plainPassword) }}
                                        <div class="form-control-position">
                                            <i class="feather icon-lock"></i>
                                        </div>
                                        <label for="profile_plainPassword">Nouveau Password</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary mr-1 mb-1">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}